:root {
    --black: #252525;
    --purple: #6c63ff;
    --white: #f7f7f7;
    --font-family: "Kanit", sans-serif;
    --second-family: "Inter", sans-serif;
    --third-family: "Raleway", sans-serif;
    --font3: "Inria Serif", sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background-color: #f7f7f7;
}


/*STATS*/
.task_stats {
    width: 240px;
    padding: 10px;
    border: 1px solid var(--purple);
    border-radius: 5px;
    margin-bottom: 20px;

    transform: translateX(-100%);
    transition: transform 0.8s ease;
    opacity: 0;

    background-color: rgba(237, 236, 243, 0.76);
    color: var(--purple);
    box-shadow: 0 0 4px 0 var(--purple);

    font-family: var(--second-family), sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 1;

    position: fixed;
    top: 0;
}

.task_stats.visible {
    left: 5px;
    transform: translateX(0);
    opacity: 1;
}

.task_stats p {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 5px 0;
    border-bottom: 1px dashed var(--purple);
}

.task_stats p:last-child {
    border-bottom: none;
}


/*MODAL*/
.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9998;
}

.modal_cover {
    background: rgba(37, 37, 37, 0.6);
    position: absolute;
    width: 100%;
    height: 100%;
}

.modal_main {
    margin: auto;
    padding: 18px 30px;
    position: relative;
    top: 30%;
    border-radius: 16px;
    width: 500px;
    height: 289px;
    background: var(--white);
}

.modal_title {
    margin: 6px 0 12px 0;
    color: var(--black);
    text-align: center;
    font-family: var(--font-family), sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    text-transform: uppercase;
}

.modal_input {
    border: 1px solid var(--purple);
    border-radius: 5px;
    padding: 8px 16px;
    width: 440px;
    height: 38px;
    font-family: var(--second-family), sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
}

.modal_input::placeholder {
    color: #C3C1E5;
}

.modal_input:focus {
    color: var(--purple);
    outline: none;
}

.modal_cancel {
    border: 1px solid var(--purple);
    border-radius: 5px;
    padding: 10px 22px;
    width: 110px;
    height: 38px;

    font-weight: 500;
    color: var(--purple);
    background: var(--white);

    position: relative;
    top: 135px;
}

.modal_save {
    border: 1px solid var(--purple);
    border-radius: 5px;
    padding: 10px 22px;
    width: 110px;
    height: 38px;
    font-weight: 500;
    color: var(--white);
    background: var(--purple);
    position: relative;
    top: 135px;
    left: 51px;
    cursor: pointer;
}

.modal_save:disabled {
    background: #ddd;
    cursor: not-allowed;
}


.modal_apply {
    border: 1px solid var(--purple);
    border-radius: 5px;
    padding: 10px 22px;
    width: 110px;
    height: 38px;

    font-weight: 500;
    color: var(--white);
    background: var(--purple);

    position: relative;
    top: 135px;
    left: 107px;
}


/*MAIN*/
header {
    font-family: var(--font-family), sans-serif;
    font-weight: 500;
    font-size: 26px;
    color: var(--black);

    text-align: center;
    margin: 40px auto 30px;
}

.app {
    max-width: 750px;
    height: 575px;
    margin: 0 auto;

    position: relative;

    cursor: url("/img/png/coursor.png"), auto;
}


/*TODO*/
.todo_content {
    max-width: 750px;

    display: flex;
    gap: 16px;
}

.todo_new {
    border: 1px solid var(--purple);
    border-radius: 5px;
    padding: 8px 16px;
    width: 595px;
    height: 38px;

    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 4px 0 var(--purple);
}

.todo_input {
    font-family: var(--second-family), sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    width: 90%;

    background-color: #f7f7f7;
    color: var(--purple);

    border: 0;
    padding: 11px 0 11px 16px;
    outline: none;
    cursor: inherit;
}

.todo_input::placeholder {
    color: #C3C1E5;
}

.todo_search {
    border: 0;
    background-color: #f7f7f7;

    cursor: inherit;
}

.todo_sort {
    border-radius: 5px;
    padding: 10px;
    width: 125px;
    height: 38px;

    background: var(--purple);
    box-shadow: 0 0 4px 0 var(--purple);
    cursor: inherit;
}

.todo_sort:hover {
    background: #534CC2;
}

.todo_select {
    font-family: var(--font-family), sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    background-color: var(--purple);

    width: 100%;
    border: none;
    outline: none;
    color: #ffffff;
    cursor: inherit;
}

.todo_select:hover {
    background: #534CC2;
}

.todo_theme_button {
    width: 38px;
    height: 38px;
    border: none;
    border-radius: 5px;

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--purple);
    cursor: inherit;
    box-shadow: 0 0 4px 0 var(--purple);
}

.todo_theme_button:hover {
    background: #534CC2;
}


/*TODO CONTAINER*/
.todo_container {
    width: 750px;
    height: 575px;
    padding: 30px 115px;

    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.todo_container >.todo_task:not(:last-child) {
    border-bottom: 1px solid rgba(108, 99, 255, 0.46);
}

.todo_task {
    width: 100%;
    height: 26px;

    margin-bottom: 17px;

    display: flex;
    cursor: url("/img/png/coursor.png"), auto;
}

.empty_board {
    display: block;
}

.img_detective {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%);
}

.empty {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
}

.todo_left {
    width: 100%;
    font-family: var(--font-family), sans-serif;
    font-size: 20px;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--black);

    display: flex;
    align-items: center;

    gap: 10px;
}

.custom_checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}
.custom_checkbox+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid var(--purple);
    border-radius: 0.2em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.custom_checkbox:checked+label::before {
    border-color: var(--purple);
    background-color: var(--purple);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");

}

.todo_task.completed .todo_left span {
    color: rgba(37, 37, 37, 0.5);
    text-decoration: line-through;
}

.todo_right {
    width: 75px;
    gap: 8px;
    display: flex;
    justify-content: flex-end;
}

.todo_right_button {
    border: none;
    background-color: #f7f7f7;
}


/*SVG*/
.todo_right_button img {
    filter: invert(20%) sepia(0%) saturate(0%) hue-rotate(200deg) brightness(100%) contrast(90%);
    transition: filter 0.2s ease;
}

.todo_right_button:hover img {
    filter: invert(39%) sepia(42%) saturate(3915%) hue-rotate(239deg) brightness(91%) contrast(102%);
}

.todo_right_button:active img {
    filter: invert(25%) sepia(91%) saturate(7465%) hue-rotate(354deg) brightness(90%) contrast(120%);
}

.todo_add_button {
    width: 50px;
    height: 50px;

    background: var(--purple);
    box-shadow: 0 0 4px 0 var(--purple);
    border: none;
    border-radius: 30px;

    position: fixed;
    bottom: 27px;
    right: 15%;
}

.todo_add_button:hover {
    background: #534CC2;
}


/*TOGGLER*/
.toggle_container {
    display: flex;
    align-items: center;
    gap: 10px;
    position: fixed;

    bottom: 40px;
    left: 1%;

}

.toggle_label {
    font-size: 14px;
    color: var(--purple);

    font-family: var(--third-family), sans-serif;
}

.switch {
    position: relative;
    width: 60px;
    height: 34px;
    display: inline-block;

}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(108, 99, 255, 0.4);
    border-radius: 34px;
    transition: 0.4s;
    box-shadow: 0 0 4px 0 var(--purple);
}

.toggle::before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

input:checked + .toggle {
    background-color: var(--purple);
}

input:checked + .toggle::before {
    transform: translateX(26px);
}


/*CLOCK*/
.clock {
    font-family: var(--font-family), sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: var(--purple);
    text-align: center;

    position: fixed;
    bottom: 40px;
    right: 46%;

}

/*WARNING*/
.modal_warning {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.modal_warning_content {
    background: var(--white);
    opacity: 0.8;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    border: 2px solid var(--purple);

    font-family: var(--second-family), sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1;
}



/*THEME*/
body.dark-theme {
    background-color: #252525;
    color: var(--white);
}

body.dark-theme .task_stats {
    background-color: var(--black);
}
body.dark-theme .todo_input {
    background-color: #252525;
    color: var(--white);
}

body.dark-theme .todo_new {
    border-color: var(--purple);
    background-color: #252525;
}

body.dark-theme .todo_left {
    color: var(--white);
}

body.dark-theme .todo_search {
    background-color: var(--black);
}

body.dark-theme .todo_right_button {
    background-color: var(--black);
}

body.dark-theme .todo_task.completed .todo_left span {
    color: rgb(255, 255, 255, 0.4);
    text-decoration: line-through;
}

body.dark-theme .modal_main {
    background: var(--black);
    border: 1px solid var(--white);
}

body.dark-theme .modal_input {
    background-color: var(--black);
    color: var(--white);
    border: 1px solid var(--white)
}

body.dark-theme .modal_input::placeholder {
    color: #C3C1E5;
}

body.dark-theme .modal_cancel {
    background: var(--black);
    color: var(--purple);
    border: 1px solid var(--white)
}

body.dark-theme .modal_save {
    background: rgba(77, 77, 77, 0.55);
    color: var(--white);
    border: 1px solid var(--white)
}

body.dark-theme header {
    color: var(--white);
}

body.dark-theme .modal_warning_content {
    background: var(--black);
    opacity: 0.8;

    border: 2px solid var(--purple);

    color: var(--white);
}


